.article1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    //flex-shrink: 1;
    justify-content: center;
    min-height: auto;
    min-width: auto;
    width: 100%;
    height: auto;
}
.image {
    display: flex;
    flex-grow: 1;
    position: relative;
    width: 100%;
    max-width: none;
}
.header1 {
    font-family: Matter;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: #000000;
    text-decoration: none;
}
