.root {
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 40px;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    font-family: Matter;
    @media (max-width: 768px) {
        padding: 20px;
        
    }

    @media (max-width: 480px) {
        padding: 16px;
    }
}

.menu {
    display: flex;
    align-items: center;
}

.menuButton {
    padding-right: 22px;
    padding-left: 22px;
    font: var(--button-font);
}

.active {
    font-weight: 500;
}

.logo {
    font: 700 18px/1.5 var(--my-pretty-font);
    height: fit-content;
}

@media (width < 455px) {
    .root {
        display: flex;
        justify-content: center;
        padding: 0px;
    }
    .logo {
        display: none;
    }
}
.header1 {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    
}
.header2 {
    line-height: 20px;
    font-weight: 400;
    min-height: 0px;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 0px;
    font-family: Matter;
    font-size: 24px;
    letter-spacing: -0.9px;
    color: inherit;
    outline: none !important; /* Make sure h1 has no outline */
    box-shadow: none !important;
}
.navLink {
    color: inherit;
    outline: none !important; /* Make sure outline is removed */
    box-shadow: none !important; /* Remove box-shadow */
    -webkit-tap-highlight-color: transparent; /* Mobile friendliness */
}

.navLink:focus,
.navLink:active,
.navLink:focus-visible {
    outline: none !important;
    box-shadow: none !important; /* Ensure no focus styles are added */
}

.navLink:hover {
    color: inherit; /* Keep the color as it is, remove any hover color changes */
    background-color: transparent; /* Ensure background doesn't change */
}
