.section1 {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    color: inherit;
  text-decoration: none;
}
.title {
  color: inherit !important;
  text-decoration: none !important;
} 

.workLink:hover .header1,
.workLink:focus .header1 {
  text-decoration: underline !important;
  color: #000000;
  text-decoration-color: #000000;
}
.articleHover:hover .header1,
.articleHover:focus .header1,
.img1:hover ~ .header1,
.header1:hover {
  text-decoration: underline !important;
  color: #000000;
  text-decoration-color: #000000;
}
.img1:hover + .header1 {
  text-decoration: underline !important;
  color: #000000;
  text-decoration-color: #000000;
}